@import url(./variables.css);
a {
  color: inherit;
}
.bookcatalog-container {
  width: 375px;
  margin: 0 auto;
  padding: 0;
  outline: 1px dashed red;
}
.all-category {
  background-color: var(--project-background);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;
  gap: 24px;
  width: 307px;
  height: 228px;
  padding-right: 20px;
}
.all-category::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
}
.all-category::-webkit-scrollbar-track {
  display: block;
}
.all-category::-webkit-scrollbar-thumb {
  width: 8px;
  border-radius: 12px;
  background-color: var(--scrollbar-color);
}
.list-section-item-list {
  font-family: DM Sans;
  color: var(--black1alfa);
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.32px;
}

.list-section-item-list:hover {
  color: var(--violet2);
  font-weight: 700;
  text-transform: uppercase;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Sekcja przycisku do przewijania w góre strony */
#to-up-btn {
  color: hsla(251, 80%, 55%, 0.3);
  width: 150px;
  height: 30px;
  padding: 10px;
  position: fixed;
  bottom: 60px;
  right: 20px;
  cursor: pointer;
  display: none;
}
/* Sekcja media query */
@media (min-width: 768px) {
  .bookcatalog-container {
    width: 309px;
  }
  .all-category {
    gap: 32px;
    width: auto;
    height: 472px;
  }
}

@media (min-width: 1200px) {
  .bookcatalog-container {
    width: 356px;
  }
  .all-category {
    gap: 32px;
    width: 328px;
    height: 472px;
  }
}
