.header-frame {
  background-color: var(--project-background);
  max-width: 375px;
  height: 64px;
  border: 1.5px solid var(--black);
  border-radius: 0px 0px 8px 8px;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}
@media (min-width: 480px) {
  .header-frame {
    max-width: 428px;
  }
}

@media (min-width: 768px) {
  .header-frame {
    max-width: 768px;
  }
}

@media (min-width: 1200px) {
  .header-frame {
    max-width: 1158px;
  }
}

.header-frame.menu-opened {
  background-color: var(--white);
}
.logo {
  width: 109px;
  height: 28px;
  margin: auto 0px auto 20px;
  display: flex;
  justify-content: space-between;
}
.nav-part {
  width: 82px;
  height: 28px;
  text-align: center;
  margin: 5px;
  display: flex;
  margin-left: auto;
}
@media (min-width: 768px) {
  .nav-part {
    width: 250px;
  }
}

/* switcher */

.switcher {
  padding-top: 13px;
}
input#switch[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.h-switch {
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: 20px;
  display: block;
  border-radius: 10px;
  position: relative;
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
}

.h-switch:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 50%;
  transition: 1s;
}

input#switch:checked + .h-switch {
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
}

input#switch:checked + .h-switch:after {
  left: calc(100% - 1px);
  transform: translateX(-100%);
}

.h-switch:active:after {
  width: 18px;
}

/*switcher end*/

.hamburger-button {
  border: none;
  background-color: var(--project-background);
  stroke: var(--black);
  margin-left: 0px;
  padding-top: 10px;
}
.dark-mode .hamburger-button {
  stroke: var(--white);
}
.hamburger-button:hover svg,
.hamburger-button:focus svg {
  stroke: var(--violet);
}
.dark-mode .hamburger-button:hover svg,
.dark-mode .hamburger-button:focus svg {
  stroke: var(--violet);
}
.bookshelf-icon {
  stroke: var(--black);
  fill: var(--black);
}
.dark-mode .bookshelf-icon {
  stroke: var(--white);
  fill: var(--white);
}

.close-btn {
  background-color: var(--white);
  border: none;
  stroke: #111;
  margin-left: 0px;
  cursor: pointer;
}
.close-btn:hover,
.close-btn:focus {
  stroke: var(--violet);
}

.hamburger-button .icon-align-left {
  display: block;
}
.hamburger-button .icon-x-item {
  display: none;
}
.close-btn .icon-align-left {
  display: none;
}
.close-btn .icon-x-item {
  display: block;
}

/*menu-mobile*/
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  flex-direction: column;
  transition: transform 250ms ease-in-out;
  visibility: hidden;
  transition: 300ms;
  padding-top: 64px;
}
.bg-books {
  background: radial-gradient(189.32% 190.93% at 59.76% -23.42%, #4f2ee8 18.03%, #fff 100%),
    url('./../../images/booksy.png');
  background-position: center bottom;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
}
.bg-form {
  background: #4f2ee8;
}
.bg-white {
  background-color: var(--white);
}
/* .bg-books .sl-container {
  display: none;
}
.bg-white .sl-container {
  display: block;
} */
.bg-books .menu-content {
  display: block;
}
.bg-white .menu-content {
  display: none;
}

.menu-container.is-open {
  transform: translateX(0);
  visibility: visible;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  flex: 1;
}
.user-menu a {
  color: var(--white);
  padding: 12px 16px;
  border: none;
  height: 42px;
}
.button-home:hover,
.button-shopping:hover {
  border-radius: 36px;
  background: var(--yellow);
  color: var(--black);
  display: flex;
  align-items: flex-start;
}

.button-shopping:hover .bag-item {
  stroke: var(--black);
}
.dark-mode .button-shopping:hover .bag-item {
  stroke: var(--white);
}

.bag-item {
  stroke: var(--white);
}
.user-current {
  margin-top: 10px;
  margin-left: 10px;
}
.user-text {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.44px;
}

.home-item {
  display: flex;
  text-align: center;
}

.home-item-header {
  display: none;
  padding-top: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
  vertical-align: middle;
}
@media (min-width: 768px) {
  .user-logged-in .home-item-header {
    display: flex;
    text-align: center;
  }
}
.button-home-header,
.button-shopping-header {
  border-radius: 36px;
  display: flex;
  align-items: flex-start;
  padding: 8px 16px;
}
.button-home-header:hover,
.button-shopping-header:hover {
  background: var(--yellow);
  color: var(--black);
}
.button-home {
  margin: 130px 174px auto 129px;
  width: 72px;
}
.home-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.56px;
}
.shopping-item {
  width: 150px;
  height: 20px;
  margin: 17px auto auto 129px;
  /* vertical-align: middle; */
}
.shopping-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.56px;
  cursor: pointer;
}
.bag-item {
  stroke: var(--white);
}
@media (min-width: 768px) {
  .bag-item {
    stroke: var(--black);
  }
}

/*sing up*/
.sign-up-btn {
  border-radius: 18px;
  border: 1.5px solid #111;
  background: #4f2ee8;
  width: 184px;
  height: 48px;
  flex-shrink: 0;
  margin-top: 40px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
@media (min-width: 768px) {
  s .sign-up-btn {
    display: none;
  }
}

.sign-text {
  display: block;
  color: var(--white);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.56px;
}

.sign-up-button-header {
  display: none;
}

@media (min-width: 768px) {
  .sign-up-button-header {
    display: flex;
  }
}
.sign-up-btn-header {
  border-radius: 18px;
  border: 1.5px solid #111;
  background: #4f2ee8;
  width: 184px;
  height: 48px;
  flex-shrink: 0;
  cursor: pointer;
  margin-right: 24px;
  margin-left: 24px;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .js-toggle-menu {
    display: none;
  }
}

/*sing-up-form*/
.sign-up-form {
}
.sign-up-form-btn {
  border-radius: 60px;
  background: #f6f6f6;
  display: flex;
  padding: 16px 116px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  cursor: pointer;
}
.sign-form-text {
  color: #202024;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.16px;
}

.hidden {
  display: none;
  visibility: hidden;
}
/**log out**/
.log-out-btn {
  border-radius: 18px;
  border: 1.5px solid #111;
  background: var(--white);
  width: 118px;
  height: 48px;
  vertical-align: middle;
  cursor: pointer;
  margin-top: 400px;
  margin-left: 20px;
}
.log-out-text {
  color: var(--black);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.56px;
}
.arrow-item {
  margin-left: 5px;
  height: 44px;
}
