body {
  font-family: DM Sans;
  margin-left: 32px;
}

.sl-container {
  margin-left: 20px;
}

h1 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 118.75%;
  letter-spacing: -1.28px;
}

.sl-span {
  color: var(--violet);
}

.sl-paragraph {
  color: rgba(0, 0, 0, 0.6);
  width: 244px;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 128.571%;
  letter-spacing: -0.28px;
}

a {
  display: block;
  margin-bottom: 20px;
}

.book-card {
  border: 2px solid rgba(79, 46, 232, 0.4);
  border-radius: 16px;
  background: white;
  padding: 30px 24px 30px 24px;
  margin-bottom: 20px;
}

.book-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 24px;
  margin-top: 24px;
}

.book-title {
  color: black;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.125;
  letter-spacing: -0.64px;
  text-transform: uppercase;
}

.book-category {
  color: #b4afaf;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.36px;
}

.book-description {
  overflow: hidden;
  color: black;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.56px;
}

.book-author {
  color: #b4afaf;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.48px;
}

.purchase-links a {
  display: block;
  margin-bottom: 5px;
}

#shopping-list {
  margin-top: 40px;
}
