@import url(./variables.css);

.sl-container {
  font-family: DM Sans;
  --standard-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
}

.sl-wrapper {
  display: flex;
}

h1 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 118.75%;
  letter-spacing: -1.28px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 20px !important;
}

.sl-span {
  color: var(--violet);
}

.sl-paragraph {
  color: rgba(0, 0, 0, 0.6);
  width: 244px;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 128.571%;
  letter-spacing: -0.28px;
  margin: 140px auto;
}

.image-empty-list {
  width: 265px;
height: 198px;
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.book-card-container {
  display: flex;
  position: relative;
  width: 100%;
  max-height: 170px;
  border: 2px solid rgba(79, 46, 232, 0.4);
  border-radius: 16px;
  background: white;
  padding: 14px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.book-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Tekst powinien zajmować całą dostępną przestrzeń po prawej stronie obrazu  */
.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.card-book-data-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-text-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.card-title-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 8px;
}

.card-book-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.amazon-icon:hover {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
}

.book-link-icon:hover {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
}

.image-container {
  margin-right: 14px;
}

.book-image {
  width: 100px;
  height: 142px;
  border-radius: 8px;
  max-width: none;
  margin: 0 14px 0 0;
}

.book-title {
  color: black;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.125;
  letter-spacing: -0.64px;
  text-transform: uppercase;
}

.book-category {
  color: #b4afaf;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.36px;
}

.book-description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  /* ukrywa wszystko to, co wychodzi poza kontener */
  overflow: hidden;
  /* skraca zbyt długie ciągi znaków, umieszczając na końcu (tylko, gdy potrzeba) trzy kropki */
  text-overflow: ellipsis;
  color: black;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.56px;
}

.book-author {
  color: #b4afaf;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.48px;
  align-self: flex-end;
}

.purchase-links {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: flex-end; /* Dodane, aby umieścić linki zakupowe w prawym dolnym rogu */
}

.amazon-icon svg {
  width: 32px;
  height: 11px;
  fill: var(--gray);
}

.book-link-icon {
  width: 18px;
  height: 18px;
}

#shopping-list {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.remove-button {
  border: none;
  cursor: pointer;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--violet);
  transition-timing-function: var(--standard-animation);
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove-button:hover,
.remove-button:focus {
  background-color: var(--yellow);
}

.remove-button-item svg {
  width: 16px;
  height: 16px;
  fill: var(--white);
}

/* @media (min-width: 480px) {
	.sl-container {
		max-width: 480px;
	}
} */

@media (min-width: 768px) {
  .sl-container {
    max-width: 768px;
  }

  .image-empty-list {
    width: 322px;
    height: 241px;
  }

  .book-card-container {
    width: 100%;
    max-width: 704px;
    max-height: 213px;
    display: flex;
  }

  .book-description {
    white-space: normal;
  }

  .remove-button {
    width: 34px;
    height: 34px;
  }

  .remove-button-item svg {
    width: 18px;
    height: 18px;
  }

  .purchase-links {
    gap: 16px;
  }

  .amazon-icon svg {
    width: 48px;
    height: 15px;
  }

  .book-link-icon {
    width: 28px;
    height: 27px;
  }
}

@media (min-width: 1200px) {
  .sl-container {
    max-width: 1200px;
  }

  .image-empty-list {
    width: 322px;
    height: 241px;
  }

  .book-card-container {
    width: 100%;
    max-width: 996px;
    max-height: 213px;
  }

  .book-description {
    white-space: normal;
  }

  .remove-button {
    width: 34px;
    height: 34px;
  }

  .remove-button-item {
    width: 18px;
    height: 18px;
  }

  .purchase-links {
    gap: 16px;
  }

  .amazon-icon svg {
    width: 48px;
    height: 15px;
  }

  .book-link-icon {
    width: 28px;
    height: 27px;
  }

  .book-author {
    font-size: 14px;
  }
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.page-button {
  border: 1px solid black;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  cursor: pointer;
}

.page-button-container {
  display: flex;
  gap: 10px;
  margin: 0 14px;
}

.navigation-button {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.page-button:hover {
  background: var(--black);
  color: var(--white);
}

.navigation-button:hover {
  background: var(--yellow);
  color: var(--white);
}
