@media (min-width: 768px) and (max-width: 1199px) {
  .cont {
    display: flex;
    justify-content: flex-start;
    max-width: 800px;
  }
  .bookcatalog-container {
    margin-bottom: 86px;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .cont {
    max-width: 356px;
    flex-direction: column;
  }
}
