:root {
  --black: #111111;
  --black1: #202024;
  --black1alfa: hsla(0, 0%, 7%, 0.6);
  --violet: #4f2ee8;
  --yellow: #eac645;
  --white: #ffffff;
  --project-background: #f6f6f6;
  --gray: #b4afaf;
  --violet-gradient: radial-gradient(189.32% 190.93% at 59.76% -23.42%, #4f2ee8 18.03%, #fff 100%);
}
