<div class="book-modal-container">
  <div>
    <img
      class="book-modal-image"
      src="https://picsum.photos/seed/randomimg/287/408"
      alt=""
      width="287"
      height="408"
    />

    <h2>Book title</h2>
    <h3>Book Author</h3>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus ducimus culpa deleniti!
      Voluptatum odit repellat, cumque, sed exercitationem, reiciendis dolores aspernatur labore ab
      perspiciatis nisi. Earum, inventore accusantium! Consequuntur, dolorem.
    </p>

    <div>
      <svg>
        <use href="/src/images/icons.svg#icon-amazon"></use>
      </svg>
      <svg>
        <use href="/src/images/icons.svg#icon-book-icon"></use>
      </svg>
    </div>

    <button>Add to Shoping List</button>

    <button>
      <svg>
        <use href="/src/images/icons.svg#icon-close-button"></use>
      </svg>
    </button>
  </div>
</div>
