<div id="book-modal" class="hidden book-modal">
  <div class="book-modal-container">
    <div class="book-modal-wrapper">
      <img
        id="book-modal-image"
        class="book-modal-image"
        src="https://picsum.photos/seed/randomimg/287/408"
        alt="book cover"
        width="287"
        height="408"
      />

      <div class="book-modal-text-container">
        <div class="book-modal-title-container">
          <h2 id="book-title" class="book-modal-title">Book title</h2>
          <h3 id="book-author" class="book-modal-author">Book Author</h3>
        </div>
        <p id="book-desc" class="book-modal-description">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus ducimus culpa deleniti!
          Voluptatum odit repellat, cumque, sed exercitationem, reiciendis dolores aspernatur labore
          ab perspiciatis nisi. Earum, inventore accusantium! Consequuntur, dolorem.
        </p>
        <div class="book-modal-icon-contatiner">
          <a
            id="book-amazon-url"
            class="book-amazon-url"
            href="https://www.amazon.com/"
            target="_blank"
          >
            <svg width="62" height="19">
              <use class="book-amazon-icon" href="/src/images/icons.svg#icon-amazon"></use></svg
          ></a>
          <a class="book-link-icon" href="" target="_blank">
            <svg width="33" height="32">
              <use href="/src/images/icons.svg#icon-book-icon"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>

    <button id="book-modal-btn" class="book-modal-button">Add to Shoping List</button>
    <button id="book-modal-close-btn" class="book-modal-close-button">
      <svg width="24" height="24">
        <use href="/src/images/icons.svg#icon-cross"></use>
      </svg>
    </button>
  </div>
</div>
