<!-- WORKING CODE FOR SIGN IN AND SIGN UP BELOW -->

<!-- /// MODAL BELOW ///  -->

<div class="firebasebutton">
  <button type="button" class="firebasebutton__item" data-modal-open>MODAL DO REJESTRACJI/LOGOWANIA</button>
</div>
<div class="backdrop is-hidden" data-modal-firebase>
  <div class="modal">
    <button type="button" class="modal__close" data-modal-close>X</button>

    <div class="modal__wrapper">
      <div class="modal__container">
        <!-- /// MODAL ABOVE ///  -->

        <!-- WORKING CODE FOR SIGN UP BELOW -->

        <form id="sign-up-form" class="modal__container--text">
          <div class="modal__box">
            <input
              type="name"
              id="name-signup"
              name="name"
              minlength="3"
              required
              placeholder="NAME"
              class="modal__box--input"
            />
          </div>
          <div class="modal__box">
            <input
              type="email"
              id="email-signup"
              name="email"
              minlength="3"
              required
              placeholder="EMAIL"
              class="modal__box--input"
            />
          </div>

          <div class="modal__box">
            <input
              type="password"
              id="password-signup"
              name="password"
              required
              minlength="6"
              placeholder="PASSWORD"
              class="modal__box--input"
            />
          </div>
          <div>
            <input type="submit" value="SIGN UP" class="modal__send" />
          </div>
            <div class="modal__navigation">
            <a href="#" id="show-sign-up-modal-top">SIGN UP</a>
            <a href="#" id="show-sign-in-modal-top">SIGN IN</a>
          </div>
        </form>

        <div id="signed-up-content" style="display: none">
          <h1>Użytkownik został zarejestrowany</h1>
        </div>

        </div>

       <!-- WORKING CODE FOR SIGN UP ABOVE -->

        <!-- WORKING CODE FOR SIGN IN BELOW -->

        <form id="sign-in-form" class="modal__container--text">
          <div class="modal__box">
            <input
              type="name"
              id="name"
              name="name"
              minlength="3"
              required
              placeholder="NAME"
              class="modal__box--input"
            />
          </div>
          <div class="modal__box">
            <input
              type="email"
              id="email"
              name="email"
              minlength="3"
              required
              placeholder="EMAIL"
              class="modal__box--input"
            />
          </div>

          <div class="modal__box">
            <input
              type="password"
              id="password"
              name="password"
              required
              minlength="6"
              placeholder="PASSWORD"
              class="modal__box--input"
            />
          </div>
          <div>
            <input type="submit" value="SIGN IN" class="modal__send" />
          </div>
          <div class="modal__navigation">
            <a href="#" id="show-sign-up-modal-bottom">SIGN UP</a>
            <a href="#" id="show-sign-in-modal-bottom">SIGN IN</a>
          </div>
        </form>

        <div id="signed-in-content" style="display: none">
          <h1>Użytkownik został zalogowany</h1>
        </div>
      </div>
    </div>

    <!-- WORKING CODE FOR SIGN IN ABOVE -->
  </div>
</div>

<!-- WORKING CODE FOR SIGN IN AND SIGN UP ABOVE -->
