<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Firebase App</title>
  </head>
  <body>
    <form id="sign-in-form">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required />
      <label for="password">Hasło</label>
      <input type="password" id="password" name="password" required />
      <input type="submit" value="Zaloguj" />
    </form>
    <div id="signed-in-content">
      <h1>Witaj</h1>
    </div>
    <script src="/src/js/firebase.js"></script>
  </body>
</html>

<!-- Ponizej kod pierwotny -->

<!-- <div class="button"> -->
<!-- <button type="button" class="button__item" data-modal-open3>Order flowers</button> -->
<!-- </div>
<div class="backdrop is-hidden" data-modal3>
  <div class="modal">
    <button type="button" class="modal__close" data-modal-close3>
      <svg class="modal__close--item"> -->
<!-- <use href="/src/images/icons.svg#icon-close"></use> -->
<!-- </svg>
    </button>

    <div class="modal__wrapper">
      <form> -->
<!-- <label for="user-name" class="modal__wrapper--input">
          <p class="modal__text--item">Name</p>
        </label> -->
<!-- <div class="modal__box">
          <input
            type="text"
            name="name"
            id="user-name"
            minlength="2"
            required
            placeholder="NAME"
            class="modal__box--input"
          />
        </div> -->

<!-- <label for="email" class="modal__wrapper--input">
          <p class="modal__text--item">E-mail</p>
        </label> -->
<!-- <div class="modal__box">
          <input
            type="email"
            name="email"
            minlength="3"
            required
            id="email"
            placeholder="E-MAIL"
            class="modal__box--input"
          />
        </div>

        <div class="modal__box">
          <input
            type="email"
            name="email"
            minlength="3"
            required
            id="email"
            placeholder="PASSWORD"
            class="modal__box--input"
          />
        </div>

        <div>
          <button type="submit" class="modal__send">SIGN UP</button>
        </div>
      </form>
    </div>
  </div>
</div> -->
