<body>
  <div class="header-frame">
    <div class="logo">
      <svg width="24" height="24">
        <use href="./images/icons.svg#icon-logo"></use>
      </svg>
      <svg width="77" height="24">
        <use href="./images/icons.svg#icon-Bookshelf"></use>
      </svg>
    </div>
    <div class="nav-part">
      <img width="40" height="20" src="./images/Switcher.svg" />
      <button
        class="hamburger-button js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg width="28" height="28" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <use href="./images/icons.svg#icon-align-left"></use>
        </svg>
      </button>
    </div>
  </div>
</body>
