<div class="container sl-container">
  <h1>Shopping <span class="sl-span">List</span></h1>
  <div id="shopping-list" class="sl-wrapper"></div>
  <!-- <div id="pagination" class="pagination"></div> -->
  <div id="pagination" class="pagination">
    <button id="first-page" class="navigation-button"><<</button>
    <button id="previous-page" class="navigation-button"><</button>
    <div id="pages" class="page-button-container"></div>
    <button id="next-page" class="navigation-button">></button>
    <button id="last-page" class="navigation-button">>></button>
  </div>
</div>
