<body>
  <section class="slider">
    <div class="slider-container">
      <div class="slider-heading-div">
        <h2 class="slider-heading">Support Ukraine</h2>
        <svg width="20" height="32">
          <use href="/src/images/slider.svg#icon-Group-2"></use>
        </svg>
      </div>
      <ul id="charities">
        <!-- tu dodać przez js <li> -->
      </ul>
      <button type="button" class="slider-button">
        <svg width="20" height="32">
          <use href="/src/images/slider.svg#icon-button-arrow"></use>
        </svg>
      </button>
    </div>
  </section>
</body>
