/* Tutaj podłączamy wszystkie style css w taki sposób:

@import url('ścieżka do pliku z twoimi stylami'); */
@import url('./partials/book-catalog.css');
@import url('./partials/book-modal.css');
@import url('./partials/header.css');
@import url('./partials/shopping-list.css');
@import url('./partials/book-list.css');

